body{
    font-family: 'Josefin Sans';
}

#main-content{
    
    background: linear-gradient(rgba(0, 0, 0, .3), rgba(0,0,0,0.8)) ,url(../img/background-3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.height{
    min-height: calc(100vh - 127px);
}

#logo{
    text-decoration: none;
    color: white;
}

.line-height{
    line-height: 1.5em;
}